includes:
    - %rootDir%/../../phpstan/phpstan-deprecation-rules/rules.neon
    - %rootDir%/../../phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    parallel:
        maximumNumberOfProcesses: 4
