includes:
    - %rootDir%/../../phpstan/phpstan-deprecation-rules/rules.neon
    - %rootDir%/../../phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    parallel:
        maximumNumberOfProcesses: 4
services:
    -
        class: BillysBilling\PhpCodingStandards\PhpStanRules\InterfaceNamingRule
        tags:
            - phpstan.rules.rule
    -
        class: BillysBilling\PhpCodingStandards\PhpStanRules\AbstractClassNamingRule
        tags:
            - phpstan.rules.rule
    -
        class: BillysBilling\PhpCodingStandards\PhpStanRules\TraitNamingRule
        tags:
            - phpstan.rules.rule
